.message{data: {id:"#{message.id}"}}
  .message__info
    .message__info__username
      = message.user.name
    .message__info__posttime
      = message.created_at
  .message__detail
    = message.body
  - if message.image.present?
    .message__image
      = image_tag message.image,size: "200x100"
